* {
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 32px;
	border: 1px solid #4b4b4b;
	padding: 32px;
	text-align: center;
}

div.header {
	height: 40px;
	position: sticky;
	/* border-bottom: 2px solid #e5e5e5; */
	background-color: #FFFFFF;
}

div.footer {
	text-align: right;
}

#question {
	text-align: left;
	color: #4b4b4b;
}

#prog {
	width: 80%;
	height: 12px;
	background-color: #58cc02;
	border-radius: 6px; /* 添加这一行 */
}

progress::-webkit-progress-bar {
	border-radius: 6px;
	background-color: #e5e5e5;
}

progress::-webkit-progress-value {
	background-color: #58cc02;
	border-radius: 6px;
}





#options {
	width: 100%;
	padding: 16px 0;
	/* border-top: 2px solid #e5e5e5; */
}

#options div {
	/* 左右居中 */
	margin: auto;
	width: 360px;
	height: 48px;
	text-align: center;
	margin-bottom: 6px;
	border-radius: 8px;
}

#options div.unseled {
	border: 2px solid #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
}

#options div.unseled:hover {
	background-color: #f7f7f7;
}

#options div span.optn {
	float: left;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 2px solid #e5e5e5;
}

#options div span.optn {
	width: 24px;
	height: 24px;
	margin: 10px;
	display: block;
	font-size: 14px;
	color: #b8b8b8;
	line-height: 24px;
	font-weight: bold;
}

#options div span.text {
	font-size: 18px;
	color: #4b4b4b;
	line-height: 48px;
}

#check {
	width: 120px;
	border: none;
	height: 48px;
	cursor: pointer;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 46px;
	font-weight: bold;
	border-radius: 14px;
	background-color: #58cc02;
	border-bottom: 4px solid #68b631;
}

#check:hover {
	background-color: #61e002;
	border-bottom: 4px solid #72c836;
}

#check:active {
	border: none;
	transform: translateY(1px);
}

.seled {
	background-color: #ddf4ff;
	border: 2px solid #84d8ff;
	border-bottom: 4px solid #84d8ff;
}

.seled:hover {
	background-color: #ddf4ff;
	border: 2px solid #84d8ff;
	border-bottom: 4px solid #84d8ff;
}